<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
  <meta charset="UTF-8" />
  <title>CountSleep-setup</title>
</head>
<body>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <header>
    <div class="container">
      <div class="button"><%= link_to image_tag("return.png", :size => "50x50"),sleeps_setup_path %></div>
          <div class="title">ユーザー情報の変更</div>
          <div class="button"><%= f.submit '', class: 'submit-btn' %></div>
    </div>
  </header>
  <div class="setup">
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :ユーザーネーム %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :現在のパスワード%></i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :新しいパスワード__ %><br />(<%= @minimum_password_length %> 文字以上　 変更しない場合は空白のままで)<br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        
      <% end %>
    </div>

    <div class="field">
      <%= f.label :パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :目標睡眠時間 %><br />
      <%= f.select :target_sleeptime,[["1",1], ["2", 2],["3", 3],["4", 4],["5", 5],["6", 6],["7", 7],["8", 8],["9", 9],["10", 10],["11", 11],["12", 12],["13", 13],["14", 14],["15", 15],["16", 16],["17", 17],["18", 18]] %>時間
    </div>

  <% end %>





  </div>



</body>
</html>






