<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
	<meta charset="UTF-8" />
	<title>CountSleep-month</title>

	<script type="text/javascript">
    var MsgCnt=10; //メッセージの総数

    var Msg=[];
    Msg[1]="メッセージ1";
    Msg[2]="メッセージ2";
    Msg[3]="メッセージ3";
    Msg[4]="メッセージ4";
    Msg[5]="メッセージ5";
    Msg[6]="メッセージ6";
    Msg[7]="メッセージ7";
    Msg[8]="メッセージ8";
    Msg[9]="メッセージ9";
    Msg[10]="メッセージ10";

    var ary=[];
    for(var i=0;i<MsgCnt;i++)ary[i]=i+1;
    function arySort(){
    ary.sort(function(){return Math.random()-Math.random();});
    }
    var cnt=0;arySort();
    function RandomMsg(){
    if(cnt>=MsgCnt)cnt=0,arySort();
    document.write(Msg[ary[cnt++]]);
    }
  </script>

</head>
<body>
	<header>
		<div class="container">
			<div class="button"><%= link_to image_tag("gear.png", :size => "50x50"),sleeps_setup_path %></div>
	      	<div class="title">これまでの睡眠時間</div>
	      	<div class="button"><%= link_to image_tag("pen.png", :size => "50x50"),new_sleep_path %></div>
		</div>
	</header>
	<div class="month">

		<% (@start_date..@day).each do |date| %>
			<% sleeps_day = @sleeps.where(start: date.in_time_zone.all_day ) %>
			
			<% if sleeps_day %>
				<% sleepgoal=6*3600 %>
				<% sleepsum=0 %>

				<% sleeps_day.each do |sleep| %>
					<% sleep.start.strftime('%Y年%m月%d日 %H時%M分') %>
				    <% sleep.finish.strftime('%Y年%m月%d日 %H時%M分') %>
				    <% sleeptime=sleep.finish - sleep.start %>

				    <% sleepsum+=sleeptime%>
			    <% end %>

			    <% if sleepsum==0 %>
			    	<%= image_tag 'mesh2.png' ,:class=>"mesh2"%>
			    <% elsif sleepsum >= sleepgoal %>
			    	<%= image_tag 'mesh.png' ,:class=>"mesh1"%>
			    <% else %>
			    	<%= image_tag 'mesh3.png' ,:class=>"mesh1"%>
				<% end %>
			<% end %>
		<% end %>


	</div>


  <div class="left"><%= link_to image_tag("left.png"),sleeps_index2_path %></div>

	<div class="grass"><%= image_tag 'grass.png'%></div>
	<div class="sheep"><%= image_tag 'sheep1C.png'%></div>
	<div class="balloon"><%= image_tag 'balloon.png'%></div>
	<div class="message"><script type="text/javascript">RandomMsg()</script></div>
	<div class="wool1"><%= image_tag 'wool1.png'%></div>
	<div class="wool2"><%= image_tag 'wool2.png'%></div>
	<div class="wool3"><%= image_tag 'wool3.png'%></div>

</body>
</html>