<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
	<meta charset="UTF-8" />
	<title>CountSleep-week</title>

	<script type="text/javascript">
    var MsgCnt=10; //メッセージの総数

    var Msg=[];
    Msg[1]="メッセージ1";
    Msg[2]="メッセージ2";
    Msg[3]="メッセージ3";
    Msg[4]="メッセージ4";
    Msg[5]="メッセージ5";
    Msg[6]="メッセージ6";
    Msg[7]="メッセージ7";
    Msg[8]="メッセージ8";
    Msg[9]="メッセージ9";
    Msg[10]="メッセージ10";

    var ary=[];
    for(var i=0;i<MsgCnt;i++)ary[i]=i+1;
    function arySort(){
    ary.sort(function(){return Math.random()-Math.random();});
    }
    var cnt=0;arySort();
    function RandomMsg(){
    if(cnt>=MsgCnt)cnt=0,arySort();
    document.write(Msg[ary[cnt++]]);
    }
  </script>

</head>
<body>
 	<header>
		<div class="container">
			<div class="button"><%= link_to image_tag("gear.png", :size => "50x50"),sleeps_setup_path %></div>
	      	<div class="title">今週の睡眠時間</div>
	      	<div class="button"><%= link_to image_tag("pen.png", :size => "50x50"),new_sleep_path %></div>
		</div>
	</header>
	<div class="week">
		<% sleepgoal=6*3600 %>
		<% six=0 %>
		<% five=0 %>
		<% four=0 %>
		<% tree=0 %>
		<% two=0 %>
		<% one=0 %>
		<% zero=0 %>
		<% size6=0 %>
		<% size5=0 %>	
		<% size4=0 %>
		<% size3=0 %>
		<% size2=0 %>
		<% size1=0 %>
		<% size0=0 %>

		<div class="records">
			


			<% (@start_date..@day).each do |date| %>
				<% sleeps_day = @sleeps.where(start: date.in_time_zone.all_day ) %>
				
				<% if sleeps_day %>
					<% sleepgoal=12*3600 %>
					<% sleepsum=0 %>

					<% sleeps_day.each do |sleep| %>
						<% sleep.start.strftime('%Y年%m月%d日 %H時%M分') %>
					    <% sleep.finish.strftime('%Y年%m月%d日 %H時%M分') %>
					    <% sleeptime=sleep.finish - sleep.start %>
					    <% sleepsum+=sleeptime%>				    
				    <% end %>

				        <% six=five %>
						<% five=four %>
						<% four=tree %>
						<% tree=two %>
						<% two=one %>
						<% one=zero %>
						<% zero=sleepsum %>


						<% size6=six*130/sleepgoal %>
						<% size5=five*130/sleepgoal %>	
						<% size4=four*130/sleepgoal %>
						<% size3=tree*130/sleepgoal %>
						<% size2=two*130/sleepgoal %>
						<% size1=one*130/sleepgoal %>
						<% size0=zero*130/sleepgoal %>

			
				<% end %>
			<% end %>


			<% if size6>300 %>
			<% size6=300 %>
			<% end %>
			<% if size5>300 %>
			<% size5=300 %>
			<% end %>
			<% if size4>300 %>
			<% size4=300 %>
			<% end %>
			<% if size4>300 %>
			<% size4=300 %>
			<% end %>
			<% if size3>300 %>
			<% size3=300 %>
			<% end %>
			<% if size2>300 %>
			<% size2=300 %>
			<% end %>
			<% if size1>300 %>
			<% size1=300 %>
			<% end %>
			<% if size0>300 %>
			<% size0=300 %>
			<% end %>

			

			<% if size1<=80 %>

			<% elsif size1>=220 %>

			<% else %>

			<% end %>
				<div class="bar">
					<% if size6<=80 %>
						<%= image_tag("sleep3.png", :width=>size6, :height=> '16') %>
					<% elsif size6>=220 %>
						<%= image_tag("sleep2.png", :width=>size6, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size6, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size5<=80 %>
						<%= image_tag("sleep3.png", :width=>size5, :height=> '16') %>
					<% elsif size5>=220 %>
						<%= image_tag("sleep2.png", :width=>size5, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size5, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size4<=80 %>
						<%= image_tag("sleep3.png", :width=>size4, :height=> '16') %>
					<% elsif size4>=220 %>
						<%= image_tag("sleep2.png", :width=>size4, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size4, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size3<=80 %>
						<%= image_tag("sleep3.png", :width=>size3, :height=> '16') %>
					<% elsif size3>=220 %>
						<%= image_tag("sleep2.png", :width=>size3, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size3, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size2<=80 %>
						<%= image_tag("sleep3.png", :width=>size2, :height=> '16') %>
					<% elsif size2>=220 %>
						<%= image_tag("sleep2.png", :width=>size2, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size2, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size1<=80 %>
						<%= image_tag("sleep3.png", :width=>size1, :height=> '16') %>
					<% elsif size1>=220 %>
						<%= image_tag("sleep2.png", :width=>size1, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size1, :height=> '16') %>
					<% end %>
				</div>
				<div class="bar">
					<% if size0<=80 %>
						<%= image_tag("sleep3.png", :width=>size0, :height=> '16') %>
					<% elsif size0>=220 %>
						<%= image_tag("sleep2.png", :width=>size0, :height=> '16') %>
					<% else %>
						<%= image_tag("sleep1.png", :width=>size0, :height=> '16') %>
					<% end %>
				</div>

		</div>
		<table>
			<tr>
				<td class="left-space2">6日前</td>
				<td class="right-space2"><% six %>
				    <% s=six%60 %>
				    <% m=((six - s) / 60) % 60 %>
				    <% h=((six- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">5日前</td>
				<td class="right-space2"><% five %>
				    <% s=five%60 %>
				    <% m=((five - s) / 60) % 60 %>
				    <% h=((five- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">4日前</td>
				<td class="right-space2"><% four %>
				    <% s=four%60 %>
				    <% m=((four - s) / 60) % 60 %>
				    <% h=((four- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">３日前</td>
				<td class="right-space2"><% tree %>
				    <% s=tree%60 %>
				    <% m=((tree - s) / 60) % 60 %>
				    <% h=((tree- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">一昨日</td>
				<td class="right-space2"><% two %>
				    <% s=two%60 %>
				    <% m=((two - s) / 60) % 60 %>
				    <% h=((two- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">昨日</td>
				<td class="right-space2"><% one %>
				    <% s=one%60 %>
				    <% m=((one - s) / 60) % 60 %>
				    <% h=((one- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
			<tr>
				<td class="left-space2">今日</td>
				<td class="right-space2"><% zero %>
				    <% s=zero%60 %>
				    <% m=((zero - s) / 60) % 60 %>
				    <% h=((zero- s - m * 60) / (60 ** 2)) % 24 %>
				    <%=  h.to_i %>時間<%= m.to_i  %>分</td>
			</tr>
		</table>


	</div>


	
	<div class="goalline"></div>

	<div class="right"><%= link_to image_tag("right.png"),sleeps_index3_path %></div>
	<div class="left"><%= link_to image_tag("left.png"),sleeps_index_path %></div>

	<div class="grass"><%= image_tag 'grass.png'%></div>
  	<div class="sheep"><%= image_tag 'sheep2B.png'%></div>
  	<div class="balloon"><%= image_tag 'balloon.png'%></div>
  	<div class="message"><script type="text/javascript">RandomMsg()</script></div>
</body>
</html>