<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
	<meta charset="UTF-8" />
	<title>CountSleep-month</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="button"><%= link_to image_tag("gear.png", :size => "50x50"),'setup' %></div>
	      	<div class="title">これまでの睡眠時間</div>
	      	<div class="button"><%= link_to image_tag("pen.png", :size => "50x50"),new_sleep_path %></div>
		</div>
	</header>
	<div class="month">

		<% (@start_date..@day).each do |date| %>
			<% sleeps_day = @sleeps.where(start: date.in_time_zone.all_day ) %>
			
			<% if sleeps_day %>
				<% sleepgoal=6*3600 %>
				<% sleepsum=0 %>

				<% sleeps_day.each do |sleep| %>
					<% sleep.start.strftime('%Y年%m月%d日 %H時%M分') %>
				    <% sleep.finish.strftime('%Y年%m月%d日 %H時%M分') %>
				    <% sleeptime=sleep.finish - sleep.start %>

				    <% sleepsum+=sleeptime%>
			    <% end %>

			    <% if sleepsum==0 %>
			    	<%= image_tag 'mesh2.png' ,:class=>"mesh2"%>
			    <% elsif sleepsum >= sleepgoal %>
			    	<%= image_tag 'mesh.png' ,:class=>"mesh1"%>
			    <% else %>
			    	<%= image_tag 'mesh3.png' ,:class=>"mesh1"%>
				<% end %>
			<% end %>
		<% end %>


	</div>

		<div class="grass"><%= image_tag 'grass.png'%></div>
	  	<div class="sheep"><%= image_tag 'sheep1C.png'%></div>
	  	<div class="balloon"><%= image_tag 'balloon.png'%></div>
	  	<div class="wool1"><%= image_tag 'wool1.png'%></div>
	  	<div class="wool2"><%= image_tag 'wool2.png'%></div>
	  	<div class="wool3"><%= image_tag 'wool3.png'%></div>

</body>
</html>