
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
  <meta charset="UTF-8" />
  <title>CountSleep-day</title>
</head>
<body>
  <%= form_for(@sleep) do |f| %>
  <header>
    <div class="container">
      <div class="button"><%= link_to image_tag("return.png", :size => "50x50"),sleeps_url %></div>
      <div class="title">睡眠時間を記録</div>
      <div class="button"><%= f.submit '', class: 'submit-btn' %></div>
    </div>
  </header>
<div class="setup">  
<div class="data">
  <div>
    <%= f.label :寝た時間 %>
  </div>
  <div>
    <%= f.datetime_select :start,:use_month_numbers => true,:date_separator=> '/ ', class: 'form-control' %>
  </div>
</div>
<div class="data">
  <div>
    <%= f.label :起きた時間 %>
  </div>
  <div>
    <%= f.datetime_select :finish,:use_month_numbers => true,:date_separator=> '/ ', class: 'form-control' %>
  </div>
</div>  
<div class="data">
  <div>
    <%= f.label :睡眠の種類 %>
  </div>
  <div>
    <%= f.select :type, [["熟睡",0], ["昼寝、仮眠", 1],["うたた寝", 2]] %>

  </div>
</div>  
  
  <% end %>
</div>
</div>


</body>
</html>

















