<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
	<meta charset="UTF-8" />
	<title>CountSleep-setup</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="button"><%= link_to image_tag("return.png", :size => "50x50"),sleeps_url %></div>
	      	<div class="title">設定</div>
	      	<div class="button"><%= image_tag("none.png", :size => "50x50") %></div>
		</div>
	</header>
	<div class="setup">
		<div class="set"><%= link_to 'ユーザー情報の変更', 'user' %></div>
		<div class="set"><%= link_to '目標睡眠時間', 'setgoal' %></div>
		<div class="set"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>

	</div>



</body>
</html>