<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="bagelee">
  <meta charset="UTF-8" />
  <title>ログイン</title>
</head>
<body class="top">
  <div class="icon">
    <%= image_tag("icon.png", :size => "150x150") %>
    <div class="CountSleep">CountSleep</div>
  </div>
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :保存する %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
  <div class="link">
    <%= render "devise/shared/links" %>
  </div>

</body>
</html>
